{% extends "index.html" %}

{% block title %}List of taxonomy {{ taxonomy.name | capitalize }}{% endblock title %}
{% block description %}A list of all known taxonomy terms{% endblock description %}

{% block content %}

<div class="title-banner">
    <div class="container text-center full-width">
        <h1> All Tags </h1>
    </div>
</div>

<div class="container">
    {% for tax in terms %}
        <a href="{{tax.path}}">
            <div class="flex-layout horizontal fg-color">{{tags::bigTag(tag=tax.name)}}</div>
        </a>
    {% endfor %}
</div>

{% endblock content %}