{% extends "index.html" %}

{% block content %}

<div class="title-banner">
    <div class="container text-center full-width">
        <h1> Tag Results for: </h1>
        <div class="flex-layout horizontal">{{macros::bigTag(tag=term.name)}}</div>
    </div>
</div>

<div class="container">
    <div class="height-10"></div>
    {% for page in term.pages %}
        <article class="article-brief content-card">
            <header class="hbar">
                <h1 class="title"><a href="{{page.path}}"> {{page.title}} </a></h1>
                <div class="info">
                    <span class="info">
                        {% if page.date %}{{page.date}} | {% endif %}
                        {% if page.taxonomies and page.taxonomies.categories %}
                            Filed under
                            {% for cat in page.taxonomies.categories %}
                                {{ macros::category(name=cat)}}
                            {% endfor %} |
                        {% endif %}
                    </span>
                    {% if page.taxonomies.tags %}
                        {% for tag in page.taxonomies.tags %}
                            {{macros::tag(tag=tag)}}
                        {% endfor %}
                    {% endif %}
                </div>
            </header>
            {% if page.summary %}
                <div>
                    {{page.summary | safe}}
                </div>
                <div class="height-10"></div>
                <a href="{{page.path}}#continue-reading">
                    <div class="continue">Continue Reading ... </div>
                </a>
            {% elif page.description %}
                <div>
                    {{page.description}}
                </div>
                <div class="height-10"></div>
                <a href="{{page.path}}#continue-reading">
                    <div class="continue">Continue Reading ... </div>
                </a>
            {% endif %}
        </article>
    {% endfor %}
</div>

{% endblock content %}