{% extends "index.html" %}

{% block content %}

<div class="title-banner">
    <div class="container text-center full-width">
        <h1> All Categories </h1>
        <hr>
        <p>A collection of topics with articles on this website</p>
    </div>
</div>

<div class="container">
    <div class="flex-layout horizontal wrap">
        {% for tax in terms %}
            <a href="{{tax.path}}">
                <div class="flex-layout horizontal fg-color">{{macros::categoryBlock(cat=tax.name)}}</div>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock content %}