{% extends "index.html" %}


{% block content %}
{% set catData = load_data(path="categories.json") %}

{% if catData[term.name] %}
    {% set localCat = catData[term.name] %}
    <div class="title-banner {% if localCat.class %} {{localCat.class}}{% endif %}" {% if localCat.fgColor or localCat.bgColor %}style="{% if localCat.fgColor %}color:{{localCat.fgColor}};{% endif %}{% if localCat.bgColor %}background-color:{{localCat.bgColor}};{% endif %}"{% endif %} >
        <div class="container text-center full-width">
            <h1> Category: {{term.name}}</h1>
            {% if localCat.description %}
            <hr>
            <p>{{localCat.description}}</p>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="title-banner">
        <div class="container text-center full-width">
            <h1> Category: {{term.name}}</h1>
            
        </div>
    </div>
{% endif %}

<div class="container">
    <div class="height-10"></div>
    {% for page in term.pages %}
        <article class="article-brief content-card">
            <header class="hbar">
                <h1 class="title"><a href="{{page.path}}"> {{page.title}} </a></h1>
                <div class="info">
                    <span class="info">
                        {% if page.date %}{{page.date}} | {% endif %}
                        {% if page.taxonomies and page.taxonomies.categories %}
                            Filed under
                            {% for cat in page.taxonomies.categories %}
                                {{ macros::category(name=cat)}}
                            {% endfor %} |
                        {% endif %}
                    </span>
                    {% if page.taxonomies.tags %}
                        {% for tag in page.taxonomies.tags %}
                            {{macros::tag(tag=tag)}}
                        {% endfor %}
                    {% endif %}
                </div>
            </header>
            {% if page.summary %}
                <div>
                    {{page.summary | safe}}
                </div>
                <div class="height-10"></div>
                <a href="{{page.path}}#continue-reading">
                    <div class="continue">Continue Reading ... </div>
                </a>
            {% elif page.description %}
                <div>
                    {{page.description}}
                </div>
                <div class="height-10"></div>
                <a href="{{page.path}}#continue-reading">
                    <div class="continue">Continue Reading ... </div>
                </a>
            {% endif %}
        </article>
    {% endfor %}
</div>

{% endblock content %}