<!-- General Macros -->

{% macro titlecard(title, subtitle, style=false, textStyle=false, img=false) %}
<div class="title-banner {% if style %}{{ style }}{% else %}bg-gradient-gray{% endif %} {% if img %}img{% endif %}" {% if img %}style="background-image: url('{{img}}');"{% endif %}>
    <div class="container text-center {% if textStyle %}{{ textStyle }}{% endif %}">
        <h1> {{ title }}</h1>
        {% if subtitle %}
        <hr>
        <p> {{ subtitle }} </p>
        {% endif %}
    </div>
</div>
{% endmacro %}

<!-- This is for use in Sections -->
{% macro flashcard(title, subtitle, style=false, textStyle=false, img=false, readMore=false, left=false, tags=false, ctr=false) %}
{% set showBannerFooter = left or ctr or tags %}
<div class="banner {% if style %}{{ style }}{% else %}bg-gradient-gray{% endif %} {% if img %}img{% endif %} {% if showBannerFooter %} banner-footer-wrapper{% endif %}" {% if img %}style="background-image: url('{{img}}');"{% endif %}>
    <div class="container text-center {% if textStyle %}{{ textStyle }}{% endif %}">
        <h1> {{ title }}</h1>
        {% if subtitle %}
        <hr>
        <p> {{ subtitle }} </p>
        {% endif %}
        {% if readMore %}
        <div class="full-width margin-top-bottom-2x">
            <a href="{{ readMore }}" class="button">Read More 🢂</a>
        </div>
        {% endif %}
    </div>
    {% if showBannerFooter %}
    <div class="banner-footer bg-darken bg-blur fg-dark-color">
        <div class="container flex-layout horizontal full-height">
            <div class="flex margin-top-bottom-auto text-shadow-dark">
                 {% if left %} {{ left }} {% endif %}
            </div>
            <div class="flex margin-top-bottom-auto">
                {% if ctr %}
                    {{ctr | safe}}
                {% endif %}
            </div>
            <div class="margin-top-bottom-auto">
                {% if tags %}
                    {% for tag in tags %}
                        {{tags::tag(tag=tag)}}
                    {% endfor %}
                {% endif %}
            </div>
            
        </div>
    </div>
    {% endif %}
</div>
{% endmacro %}

<!-- Navigation bar -->
{% macro navbar(toc=false, isSection=false) %}
<nav class="navbar">
    <div toc-short class="container">
        <div class="flex-layout horizontal flex items">
            <div class="title">Section:&nbsp;</div>
            {% if toc %}
                {% for item in toc -%}
                <a href="#{{ item.id }}">{{ item.title }}</a>
                {% endfor -%}
            {% endif %}
            {% if isSection %}
            <a href="#section-pages">Pages</a>
            {% endif %}
            <div class="flex"></div>
            <a class="action" onclick="toggleLong(true)" action title="Show Table of Contents">[show]</a>
        </div>
    </div>
    <div toc-long class="container toc" hidden>
        <div class="flex-layout horizontal hbar">
            <div class="title">Table of Contents:</div>
            <div class="flex"></div>
            <a class="action" onclick="toggleLong(false)" action title="Hide Table of Contents">[hide]</a>
        </div>
        <ol>
            {% if toc %}
                {% for h1 in toc -%}
                    <li><a href="#{{ h1.id }}">{{ h1.title }}</a></li>
                    {% if h1.children %}
                        <ol type="a">
                            {% for h2 in h1.children %}
                                <li><a href="#{{ h2.id }}">{{ h2.title }}</a></li>
                                {% if h2.children %}
                                    <ol type="i">
                                        {% for h3 in h2.children %}
                                            <li><a href="#{{ h3.id }}">{{ h3.title }}</a></li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    {% endif %}
                {% endfor -%}
            {% endif %}
            {% if isSection %}
            <li><a href="#section-pages">Pages</a></li>
            {% endif %}
        </ol>
    </div>
</nav>
{% endmacro %}

<!-- Icon-left used for pages-->
{% macro icon(icon, color="currentColor",size="24px") %}
<svg class="feather" style="{% if size != '24px' %} width: {{size}}; height: {{size}}{% endif %}">
    <use 
        href="/asset/feather-sprite.svg#{{ icon }}"
        stroke="{{color}}"
        stroke-width="2"
        width="{{size}}"
        height="{{size}}"
    ></use>
</svg>
{% endmacro %}

<!-- Figure, used for adding pictures -->
{% macro figure(src, caption, num="") %}
<figure>
    <a href={{src}} target="_blank">
        <img src="{{src}}" alt="{{caption}}">
    </a>
    <figcaption> {% if num %}<span class="figure">{{num}}</span>{% endif %} {{caption}} </figcaption>
</figure>
{% endmacro %}

{% macro text_section(title, content, type="", class="") %}
{% if type == "warn" %} 
    {% set icon = "alert-triangle" %}
    {% set typeClass = type %}
{% elif type == "error" %}
    {% set icon = "alert-octagon" %}
    {% set typeClass = type %}
{% endif %}

<div class="text-section {% if typeClass %} {{ typeClass }} {% endif %} {{class}}">
    <h1>{% if icon %}{{macros::icon(icon=icon, size="2rem")}} {% endif %} {{title}}</h1>
    <p>{{content}}</p>
</div>
{% endmacro %}
