<!-- Macros to build tags -->

{% macro tag(tag) %}
    {% if config.extra.tag_data_path %}
        {% set tagData = load_data(path=config.extra.tag_data_path) %}
    {% elif config.extra.tag_data %}
        {% set tagData = config.extra.tag_data %}
    {% else %}
        {% set tagData = load_data(path="data/tags.json") %}
    {% endif %}
    {% if tagData[tag] %}
        {% set localTag = tagData[tag] %}
        <a href="/tags/{{tag}}">
            <div class="chip-sm fg-color {% if localTag.class %}{{localTag.class}}{% endif %}" {% if localTag.fgColor or localTag.bgColor %}style="{% if localTag.fgColor %}color:{{localTag.fgColor}};{% endif %}{% if localTag.bgColor %}background-color:{{localTag.bgColor}};{% endif %}"{% endif %} {% if localTag.tooltip %}title="{{localTag.tooltip}}"{% endif %}>{% if localTag.pretext %}{{localTag.pretext}}{% endif %}{% if localTag.text %}{{localTag.text}}{% else %}{{tag}}{% endif %}{% if localTag.posttext %}{{localTag.posttext}}{% endif %}</div>
        </a>
    {% else %}
        <!-- This tag isn't in tags.json! -->
        <a href="/tags/{{tag}}">
            <span class="chip-sm fg-color">{{tag}}</span>
        </a>
    {% endif %}
{% endmacro tag %}

{% macro bigTag(tag) %}
    {% if config.extra.tag_data_path %}
        {% set tagData = load_data(path=config.extra.tag_data_path) %}
    {% elif config.extra.tag_data %}
        {% set tagData = config.extra.tag_data %}
    {% else %}
        {% set tagData = load_data(path="data/tags.json") %}
    {% endif %}
    {% if tagData[tag] %}
        {% set localTag = tagData[tag] %}
        <div class="chip-lg full-width text-center {% if localTag.class %}{{localTag.class}}{% endif %}" {% if localTag.fgColor or localTag.bgColor %}style="{% if localTag.fgColor %}color:{{localTag.fgColor}};{% endif %}{% if localTag.bgColor %}background-color:{{localTag.bgColor}};{% endif %}"{% endif %} {% if localTag.tooltip %}title="{{localTag.tooltip}}"{% endif %}>{% if localTag.pretext %}{{localTag.pretext}}{% endif %}{% if localTag.text %}{{localTag.text}}{% else %}{{tag}}{% endif %}{% if localTag.posttext %}{{localTag.posttext}}{% endif %}</div>
    {% else %}
        <!-- This tag isn't in tags.json! -->
        <span class="chip-lg full-width text-center">{{tag}}</span>
    {% endif %}
{% endmacro bigTag %}