{% macro translucent_content_card(
  title,
  content,
  image=false,
  title_class="accent-1",
  href=false,
  type="dark",
  rowspan=1,
  colspan=1
) %}
<div class="content-card no-border no-margin bg-blur {% if type == 'dark' %} bg-darken fg-dark-color {% elif type == 'light' %} bg-lighten fg-light-color {% endif %} {% if image %}set-min-width no-padding{% endif %} {% if rowspan > 1 %}grid-rowspan-{{rowspan}}{% endif %} {% if colspan > 1 %}grid-colspan-{{colspan}}{% endif %}">
  {% if href %}
    <a href="{{href}}">
      <div class="full-height {% if type == 'dark' %}fg-dark-color {% elif type == 'light' %}fg-light-color {% endif %}">
        {{ cards::_content(
          title=title,
          content=content,
          image=image,
          title_class=title_class,
          href=href 
        ) }}
      </div>
    </a>
  {% else %}
    {{ cards::_content(
      title=title,
      content=content,
      image=image,
      title_class=title_class,
      href=href 
    ) }}
  {% endif %}
</div>
{% endmacro %}

{% macro _content(
  title,
  content,
  image=false,
  title_class="accent-1",
  href=false
) %}
  {% if image %}
  <img class="full-width round-top-corners" src="{{image}}">
  <div class="margin-2x">
    <h3 class="{{title_class}}">{{title}}</h3>
    <p> {{content}}</p>
  </div>
  {% else %}
  <h3 class="{{title_class}}">{{title}}</h3>
  <p> {{content}}</p>
  {% endif %}
{% endmacro %}