{% extends "index.html" %}

{% block body %}

<div class="banner">
    <div class="container full-width">
        {% block headerTitleLanding %}
        <div class="flex-layout horizontal wrap">
            <div class="flex">
                <h1>
                    {{ config.title }}
                </h1>
                <p>{{ config.extra.subtitle }}</p>
            </div>
        </div>
        {% endblock headerTitleLanding %}

        <ul class="menu-bar flex-layout responsive bp-0 wrap">
            {% for entry in menuData.topMenu %}
                {% set childLen = entry.children | length %}
                <li class="flex menu-item {% if entry.class %}{{entry.class}}{% endif %} {% if entry.url == "/" and section and section.path == entry.url %}selected{% endif %}">
                    <a href="{{ entry.url }}">{{ entry.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock body %}
