{% extends "index.html" %}

{% block body %}

<div class="banner">
    <div class="container full-width">

        <div class="flex-layout horizontal wrap">
            <div class="flex">
                <h1>
                    <span class="accent-1">Dead</span><br>
                    <span class="accent-2">Computer</span><br>
                    <span class="accent-3">Society</span>
                    .com
                </h1>
                <p>Code made extraordinary</p>
            </div>
            <div>
                <code class="left">
                    {{ cow | safe }}
                </code>
            </div>
        </div>

        <ul class="menu-bar flex-layout horizontal wrap">
            {% set data = load_data(path="content/menu.json") %}
            {% for entry in data.topMenu %}
                {% set childLen = entry.children | length %}
                <li class="flex menu-item {% if entry.class %}{{entry.class}}{% endif %} {% if entry.url == "/" and section and section.path == entry.url %}selected{% endif %}">
                    <a href="{{ entry.url }}">{{ entry.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock body %}
