{% extends "index.html" %}

{% block title %}{{ page.title }}{% endblock title %}
{% block description %}{{ page.description }}{% endblock %}
{% if page.authors %}{% block author %}{{ page.authors | first }}{% endblock author %}{% endif %}
{% if page.taxonomies.tags %}{% block keywords %}{{ page.taxonomies.tags | join(sep=", ") }}{% endblock keywords %}{% endif %}

{% block content %}
{% if page.extra %}
    {% set titlecardStyle = false %}
    {% set titlecardTextStyle = false %}
    {% set titlecardImg = false %}
    {% if page.extra.titlecard %}
        {% set titlecardStyle = page.extra.titlecard %}
    {% endif %}
    {% if page.extra.titlecard_text %}
        {% set titlecardTextStyle = page.extra.titlecard_text %}
    {% endif %}
    {% if page.extra.titlecard_image %}
        {% set titlecardImg = page.extra.titlecard_image %}
    {% endif %}
    {{ macros::titlecard(title=page.title, subtitle=page.description, style=titlecardStyle, textStyle=titlecardTextStyle, img=titlecardImg) }}
{% else %}
    {{ macros::titlecard(title=page.title, subtitle=page.description) }}
{% endif %}

{% if page.toc | length > 0 %}
    {% set pagetoc = page.toc %}
    {% if page.extra.toc %}
        {% set pagetoc = pagetoc | concat(with=page.extra.toc) %}
    {% endif %}
    {{ macros::navbar(toc=pagetoc) }}
{% endif %}

<div class="container">
    {% if page.draft %}
    <div class="margin-top-bottom-2x flex-layout horizontal wrap warn-color-fg">
        <div class="icon left">{{ macros::icon(icon="alert-triangle") }}</svg></div>
        <b class="margin-top-bottom-auto">This article is a draft</b>
    </div>
    {% endif %}
    {% if not page.extra.hide_icons %}
        {% if page.date %}
        <div class="margin-top-bottom-2x flex-layout horizontal wrap">
            <div class="icon left">{{ macros::icon(icon="calendar") }}</svg></div>
            <b class="margin-top-bottom-auto">Posted: {{page.date}}</b>
        </div>
        {% endif %}
        <div class="margin-top-bottom-2x flex-layout horizontal wrap">
            <div class="icon left">{{ macros::icon(icon="clock") }}</svg></div>
            <b class="margin-top-bottom-auto">Est. Reading Time: {{page.reading_time}} {% if page.reading_time == 1 %}minute{% else %}minutes{% endif %}</b>
        </div>
        <div class="margin-top-bottom-2x flex-layout horizontal wrap">
            <div class="icon left">{{ macros::icon(icon="user") }}</svg></div>
            <b class="margin-top-bottom-auto">Author: {% if page.authors %}{{ page.authors | join(sep=",") }}{% else %}{{config.author}}{% endif %}</b>
        </div>
        {% if page.taxonomies.tags %}
        <div class="margin-top-bottom-2x flex-layout horizontal wrap">
            <div class="icon left">{{ macros::icon(icon="tag") }}</svg></div>
            {% for tag in page.taxonomies.tags %}
                {{tags::tag(tag=tag)}}
            {% endfor %}
        </div>
        {% endif %}
        {# <!-- @TODO add other taxonomies --> #}
        {% if page.extra and page.extra.git_link %}
        <div class="margin-top-bottom-2x flex-layout horizontal wrap">
            <div class="icon left">{{ macros::icon(icon="git-branch") }}</svg></div>
            <b class="margin-top-bottom-auto">Source code can be found at <a href="{{page.extra.git_link}}">{{page.extra.git_link}}</a></b>
        </div>
        {% endif %}
        {% if page.extra and page.extra.music_link %}
        <div class="margin-top-bottom-2x flex-layout horizontal wrap">
            <div class="icon left">{{ macros::icon(icon="headphones") }}</svg></div>
            <b class="margin-top-bottom-auto">Have a listen at <a href="{{page.extra.music_link}}">{{page.extra.music_link}}</a></b>
        </div>
        {% endif %}
    {% endif %}
    
{{ page.content | safe }}
</div>
{% endblock content %}

