{% extends "index.html" %}

{% block title %}Search{% endblock %}

{% block description %}Search the contents of this website{% endblock %}

{% block head %}
<script src="/script/template.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>

<script>

    const OPTIONS = {
        fields: ["title", "description", "body"]
    };

    async function init() {
        // const index = elasticlunr.Index.load(window.searchIndex);
        const indexData = await fetch("/search_index.en.json").then(res => res.json());
        console.log(indexData);
        const index = new Fuse(indexData, OPTIONS);

        const $form = document.querySelector("#search-form");
        const $searchResults = document.querySelector("#search-results");
        const $template = document.querySelector("#result-item");

        const handleSearch = (searchText) => {
            const searchStr = String(searchText).trim();
            const results = index.search(searchStr);

            console.log("Results:", results, searchStr);
            
            // Clear out old results (if any)
            clearChildren($searchResults);

            // Render new results
            const frag = renderItemsIntoTemplate($template, results.map(result => ({
                title: result.doc.title,
                path: result.ref,
                summary: result.doc.body
            })))

            $searchResults.appendChild(frag);
        }

        $form.addEventListener("submit", (e) => {
            e.preventDefault();
            e.stopPropagation();
            for (const elem of e.target.elements) {
                if (elem.name === "q" && elem.value) {
                    handleSearch(elem.value);
                }
            }
        });

        // Check the query Parameters for a search query value
        const usp = new URLSearchParams(window.location.search);
        const q = usp.get("q");

        console.log(q);

        if (q) {
            handleSearch(q);
        }

    }

    window.addEventListener("DOMContentLoaded", (e) => {
        init();
    });
</script>

{% endblock head %}

{% block content %}

<div class="container">

    <form id="search-form">
        <div class="app-bar flex-layout horizontal">
            <div class="flex-layout vertical center">
                <h2 class="accent-1"> Search this website </h2>
            </div>
        </div>
        <div class="body">
            <p> This form lets you search the contents of this website. </p>
            <fieldset class="flex-layout vertical ">
                <label> Search </label>
                <input type="search" name="q">
                <p><small>Hitting <kbd>Enter</kbd> will cause this form to submit</small></p>
            </fieldset>
        </div>
    </form>

    <div id="search-results"></div>

    <template id="result-item">
        <article class="article-brief content-card no-margin-right">
            <header class="hbar">
                <h1 class="title"><a href="" field="path" field-target="href"><span field="title"></span></a></h1>
            </header>
            <p field="summary">
            </p>
        </article>
    </template>

</div>

{% endblock content %}
