{% extends "index.html" %}

{% block title %}
{{ section.title }}
{% endblock %}

{% block description %}
{{ section.description }}
{% endblock %}

{% block content %}

{% if section.extra %}
    {% set titlecardStyle = false %}
    {% set titlecardTextStyle = false %}
    {% set titlecardImg = false %}
    {% if section.extra.titlecard %}
        {% set titlecardStyle = section.extra.titlecard %}
    {% endif %}
    {% if section.extra.titlecard_text %}
        {% set titlecardTextStyle = section.extra.titlecard_text %}
    {% endif %}
    {% if section.extra.img %}
        {% set titlecardImg = section.extra.img %}
    {% endif %}
    {{ macros::titlecard(title=section.title, subtitle=section.description, style=titlecardStyle, textStyle=titlecardTextStyle, img=titlecardImg) }}
{% else %}
    {{ macros::titlecard(title=section.title, subtitle=section.description) }}
{% endif %}

{% if section.content %}
{% if section.toc | length > 0 %}
    {% set sectiontoc = section.toc %}
    {% if section.extra.toc %}
        {% set sectiontoc = sectiontoc | concat(with=section.extra.toc) %}
    {% endif %}
    {{ macros::navbar(toc=sectiontoc, isSection=true) }}
{% endif %}
<div class="container">
    {{ section.content | safe }}
    <hr>
</div>
{% endif %}
<div id="section-pages"></div>
{% if section.pages %}
    {% for page in section.pages %}
        {% if not section.extra.type or section.extra.type == "article" %}
            <div class="container">
                <article class="article-brief content-card">
                    <header class="hbar">
                        <h1 class="title"><a href="{{page.path}}"> {{page.title}} </a></h1>
                        <div>
                            <span class="info">
                                {% if page.date %}{{page.date}} | {% endif %}
                                {% if page.taxonomies and page.taxonomies.categories %}
                                    Filed under
                                    {% for cat in page.taxonomies.categories %}
                                        {{ macros::category(name=cat)}}
                                    {% endfor %} |
                                {% endif %}
                            </span>
                            {% if page.taxonomies.tags %}
                                {% for tag in page.taxonomies.tags %}
                                    {{macros::tag(tag=tag)}}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </header>
                    {% if page.summary %}
                        <div>
                            {{page.summary | safe}}
                        </div>
                        <div class="height-10"></div>
                        <a href="{{page.path}}#continue-reading"><div class="continue"> Continue Reading ... </div></a>
                    {% elif page.description %}
                        <div>
                            {{page.description}}
                        </div>
                        <div class="height-10"></div>
                        <a href="{{page.path}}#continue-reading"><div class="continue"> Continue Reading ... </div></a>
                    {% endif %}
                </article>
            </div>
        {% elif section.extra.type == "flashcard" %}
            {% if page.extra %}
                {% set titlecardStyle = false %}
                {% set titlecardTextStyle = false %}
                {% set titlecardImg = false %}
                {% set titlecardBannerCats = false %}
                {% set titlecardBannerTags = false %}
                {% if page.extra.titlecard %}
                    {% set titlecardStyle = page.extra.titlecard %}
                {% endif %}
                {% if page.extra.titlecard_text %}
                    {% set titlecardTextStyle = page.extra.titlecard_text %}
                {% endif %}
                {% if page.extra.img %}
                    {% set titlecardImg = page.extra.img %}
                {% endif %}
                {% if page.taxonomies.categories %}
                    {% set titlecardBannerCats = page.taxonomies.categories %}
                {% endif %}
                {% if page.taxonomies.tags %}
                    {% set titlecardBannerTags = page.taxonomies.tags %}
                {% endif %}
                {{ macros::flashcard_with_banner(title=page.title, subtitle=page.description, style=titlecardStyle, textStyle=titlecardTextStyle, img=titlecardImg, readMore=page.path, cats=titlecardBannerCats, tags=titlecardBannerTags) }}
            {% else %}
                {{ macros::flashcard(title=page.title, subtitle=page.description, readMore=page.path) }}
            {% endif %}
        {% endif %}
    {% endfor %}
    
{% endif %}

{% endblock content %}